/*Body------------------------------------------------------*/
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --black: #000;
    --white: #fff;
}

/*Index-------------------------------------------------------*/
/*Index Mini header---------------------------------------*/
#index_page_wrapper #home_header{
    display: grid;
    grid-template-rows: 0.2fr 0.6fr;
}

#index_page_wrapper #top_bar{
    grid-row: 1/2;
}

#index_page_wrapper #top_bar ul{
    margin: 0;
    margin-right: 5%;
}

#index_page_wrapper #top_bar ul li{
    display: inline;
    float: right;
    margin-right: 5px;
}

#index_page_wrapper #top_bar ul li#UserTag{
    float: left;
    font-size: 15px;
}

#index_page_wrapper #top_bar ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#index_page_wrapper #top_bar ul li a:hover{
    color: #3665f3;
}

/*Index Login form -----------------------------------------------*/
/* Full-width input fields */
#index_page_wrapper input[type=text], 
#index_page_wrapper input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
/* Set a style for index buttons */
#index_page_wrapper button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
#index_page_wrapper button:hover {
    opacity: 0.8;
}
  
/* Extra styles for the cancel button */
#index_page_wrapper .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
/* Center the close button */
#index_page_wrapper .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#index_page_wrapper .container {
    padding: 16px;
}
  
#index_page_wrapper span.psw {
    float: right;
    padding-top: 16px;
}
  
/* The Modal (background) */
#index_page_wrapper .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
  
/* Modal Content/Box */
#index_page_wrapper .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button (x) */
#index_page_wrapper .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
#index_page_wrapper .close:hover,
#index_page_wrapper .close:focus {
    color: red;
    cursor: pointer;
}
  
/* Add Zoom Animation */
#index_page_wrapper .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*Index Header--------------------------------------------*/

header{
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-row: 1/2;
    transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    z-index: 99;
}

header nav{
    grid-column: 2/-1;
}

header nav ul{
    float: right;
    margin-right: 5%;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: var(--white);
    font-size: 2.5vh;
    margin: 20px 15px 20px 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    position: relative;
}

header nav ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3665f3;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

#index_page_wrapper header nav ul li a#link1:before,
header nav ul li a:hover:before{
    visibility: visible;
    width: 100%;
}

/*Header part 2*/
header .logo_wrapper{
    grid-column: 1/2;
    margin-left: 25%;
}

header .logo_wrapper .logo_holder #logo{
    color: var(--white);
    letter-spacing: 2px;
    font-size: 3vh;
    margin: 15px 0 15px 0;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

/*Header part 3*/
#index_page_wrapper header nav ul li a#basket img{
    float: right;
    filter: invert(1);
    width: 2vw;
    transition: ease-in-out 0.1s;
}

#index_page_wrapper header nav ul li a#basket img:hover{
    filter: invert(0.5);
}

/*Index Header Main---------------------------------------*/
#home_search_bar_wrapper{
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.4fr 0.7fr;
    grid-template-rows: 0.4fr 0.2fr 0.4fr;
    background-image: url("images/index_images/Main_image6.jpg");
    min-height: 39vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home_search_bar_wrapper #search_bar{
    grid-row: 2/3;
    grid-column: 2/4;
}

#home_search_bar_wrapper #search_bar form{
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.2fr;
}

#home_search_bar_wrapper #search_bar form input{
    grid-column: 1/2;
}

#home_search_bar_wrapper #search_bar form button{
    grid-column: 3/4;
}

/*Sign up Form-------------------------------------------------------*/
#signup_page_wrapper{
    background-color: white;
    margin: 4% 30% 0 30%;
    padding: 1% 0 5% 0;
}

#sell_page_wrapper{
    background-color: white;
    margin: 0 30% 0 30%;
    padding: 0.5% 0 5% 0;
}

#signup_page_wrapper h1,
#sell_page_wrapper h1{
    font-size: 40px;
    text-align: center;
    color: #3665f3;
}

#signup_page_wrapper form{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
}

#signup_page_wrapper form input[type="text"],
#signup_page_wrapper form input[type="email"],
#signup_page_wrapper form input[type="date"],
#signup_page_wrapper form input[type="password"],
#sell_page_wrapper form input[type="text"],
#sell_page_wrapper form input[type="number"],
#sell_page_wrapper form input[type="file"],
#sell_page_wrapper form textarea,
#sell_page_wrapper form select{
    background-color: #f2f2f2;
    width: 70%;
    height: 90%;
    padding: 5px;
    margin: auto;
    color: black;
    font-size: 1.2vw;
    border: 2px solid #ccc;
}

#signup_page_wrapper form input[type="text"]:valid,
#signup_page_wrapper form input[type="password"]:valid,
#signup_page_wrapper form input[type="email"]:valid,
#signup_page_wrapper form input[type="date"]:valid{
    background-color: #6fbd6f86;
}

#signup_page_wrapper form input[type="submit"],
#sell_page_wrapper form input[type="submit"]{
    background-color: #4CAF50;
    font-size: 1.3vw;
    width: 20%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 15px auto 0 auto;
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}

#signup_page_wrapper form input[type="submit"]:hover,
#sell_page_wrapper form input[type="submit"]:hover{
    background-color: #329035;
}

/*Sell form Page-------------------------------------*/
#sell_page_wrapper form h2{
    font-size: 1.2vw;
    margin: 10px 0 0 15%;
}

#sell_page_wrapper form{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
}

/*Search Page----------------------------------------------*/
#search_bar_mini #search_bar form{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 0.6fr 0.9fr 0.05fr 0.2fr 0.6fr;
}

#search_bar_mini #search_bar form input{
    grid-column: 2/3;
    border: 1px solid black;
}

#search_bar_mini #search_bar form button{
    grid-column: 4/5;
}

#product_img_search{
    padding: 5px;
    margin: 20px 30% 0 30%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    border: 2px dashed black;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

#product_img_search:hover{
    background-color: #3665f363;
}

#product_img_search img{
    width: 100%;
    float: right;
    grid-column: 1/2;
    grid-row: 1/2;
}

#product_img_search #product_txt_search{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
}

#product_img_search #product_txt_search h3{
    color: #3665f3;
    margin: 10px 0 0 10px;
}

#product_img_search #product_txt_search p{
    margin: 10px 0 0 10px;
    font-size: 13px;
}

#product_img_search #product_txt_search p#cost{
    font-size: 15px;
    font-weight: 600;
}

#NoProductMSG{
    margin: 5% 35% 0 35%;
    text-align: center;
}

#NoProductMSG p {
    color: #f44336;
}



/*
clean up code sort minor issues
validate everything
cookie pop up
sell not working properly from all locations
*/